<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Football App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>

    <main>
        <nav class="nav-links" aria-label="Główna nawigacja">
            <a href="/">Strona główna</a>
            <a href="{{ url_for('matches.history') }}">Historia meczów</a>
            {% if current_user.is_authenticated %}
            <a href="/players">Zawodnicy</a>
            {% endif %}
            {% if current_user.is_admin %}
            <a href="{{ url_for('matches.add_match') }}">Dodaj mecz</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">Wyloguj się</a>
            {% else %}
            <a href="{{ url_for('auth.login') }}">Logowanie</a>
            {% endif %}
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

</body>

</html>