{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<h2>Hej {{ current_user.username }} 👋</h2>
<p>Jesteś zalogowany. Możesz oceniać innych zawodników.</p>
{% else %}
<h2>Hej 👋</h2>
<p>Jesteś niezalogowany. Zaloguj się aby ocenić innych zawodników.</p>
{% endif %}

{% if next_match %}
<h2>Najbliższy mecz: {{ next_match.date.strftime('%d.%m.%Y') }}</h2>
<div class="team-grid">
    <section class="team-card team-card-orange">
        <h3>Pomarańczowi</h3>
        {% if user.is_authenticated and user.is_admin %}
        <p>Średnia: <strong>{{ orange_average }}</strong></p>
        {% endif %}
        <ul>
            {% for player in orange_team %}
            <li>{{ player.name }} {% if user.is_authenticated and user.is_admin %}
                <strong>{{ player.average_rating }}</strong>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="team-card team-card-blue">
        <h3>Niebiescy</h3>
        {% if user.is_authenticated and user.is_admin %}
        <p>Średnia: <strong>{{ blue_average }}</strong></p>
        {% endif %}
        <ul>
            {% for player in blue_team %}
            <li>{{ player.name }} {% if user.is_authenticated and user.is_admin %}
                <strong>{{ player.average_rating }}</strong>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
</div>
{% else %}
Brak zaplanowanych meczów.
{% endif %}

{% endblock %}